<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="self_introduction_form">
        <%= render 'shared/self_introduction_form' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/group_form' %>
      </section>  
      

   <!--最近プレイ プレイした 持っている 連絡ツール 重視する項目 グループ-->
   <!--それぞれのcontent-->
   <!--それぞれの追加用ページリンク-->
      <section>
        <%= render partial: 'informations/had_information', locals: { category: "recently", mode: "user",  owner: current_user } %>         
        <%= render partial: 'informations/had_information', locals: { category: "played"  , mode: "user",  owner: current_user } %> 
        <ul style="list-style: none;">
          <li><%= ("<br>").html_safe %></li>           
          <li><%= link_to "プレイしたゲームの追加または最近遊ぶゲームリスト編集"   ,   category_path(cate: "played") %></li>
          <li><%= ("<br><br><br>").html_safe %></li>
          
        </ul>
          
        <%= render partial: 'informations/had_information', locals: { category: "console", mode: "user",  owner: current_user } %>
        <ul style="list-style: none;">
          <li><%= ("<br>").html_safe %></li> 
          <li><%= link_to "持っているゲーム機を追加" ,   category_path(cate: "console") %></li>
          <li><%= ("<br><br><br>").html_safe %></li>  
        </ul>            

        <%= render partial: 'informations/had_information', locals: { category: "contact", mode: "user",  owner: current_user } %>
        <ul style="list-style: none;">
          <li><%= ("<br>").html_safe %></li>                     
          <li><%= link_to "通信ツールを追加"         ,   category_path(cate: "contact") %></li>
          <li><%= ("<br><br><br>").html_safe %></li>           
        </ul>

        <%= render partial: 'informations/had_information', locals: { category: "style", mode: "user",  owner: current_user } %>
        <ul style="list-style: none;">
          <li><%= ("<br>").html_safe %></li>                     
          <li><%= link_to "プレイスタイルを追加"     ,    category_path(cate: "style") %></li>
          <li><%= ("<br><br><br>").html_safe %></li>           
        </ul>

        <% if @user.groups.any? %>
        <ul style="list-style: none;">
          <li><%= ("<br>").html_safe %></li>                     
          <font size="3"><%= "作成したグループ" %></font>
        </ul>
          <ol class="microposts">
            <%= render @groups %>
          </ol>
          <%= will_paginate @groups %>
        <% else %>
        <ul style="list-style: none;">
          <li><%= ("<br>").html_safe %></li>                     
          <font size="3"><%= "作成したグループはありません" %></font>
        </ul>   
        <% end %>        
        
      </section>




    <div class="col-md-8">
      <!--<h3>フォローユーザー一覧</h3>-->
      <!--%= render 'shared/feed' %>-->
    </div>
  </div>
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
  
    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>

    </aside>