<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  
  
  <% unless user.self_introduction.nil? %>
    <%= "#{user.self_introduction.content}" %>
  <% end %>

  
  <%= render 'follow_form' if logged_in? %>
  
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>