<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.self_introduction.present? %>
      <h3>自己紹介</h3>
      <ol class="self_introductions">
        <%= render @self_introduction %>
      </ol>
      <br>
      <br>

      <%= render partial: 'informations/had_information', locals: { category: "played",  user: @user } %>
      <br>
      <%= render partial: 'informations/had_information', locals: { category: "console", user: @user } %>    
      <br>
      <%= render partial: 'informations/had_information', locals: { category: "contact", user: @user } %>
      <br>
        
    <% end %>
  </div>
</div>