<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br>
        <%= "プロフィールページ" %>        
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <br>    
    <%= render 'follow_form' if logged_in? %>
    <% if @user.self_introduction.present? %>
      <h3>自己紹介</h3>
      <ol class="self_introductions">
        <%= render @self_introduction %>
      </ol>
    <% end %>  

      <br>
      <br>
      <div style="margin-left: 5%">         
        <h3>プレイヤー情報</h3>      
      </div>
      <%= render partial: 'informations/had_information', locals: { category: "recently", mode: "user",  owner: @user } %>

      <% if params[:display] == "all" %>
        <div style="margin-left: 6%">      
          <%= link_to "全ゲーム表示を閉じる", user_path %>
        <br>
        <br>
        <br>            
        </div>         
        <%= render partial: 'informations/had_information', locals: { category: "played", mode: "user" , owner: @user } %>
      <% else %>  
        <div style="margin-left: 6%">
          <%= link_to "全ゲーム表示", user_path(display: "all") %>
        </div>        
      <% end %>
      
      <br>
      <br>
      
      <%= render partial: 'informations/had_information', locals: { category: "console", mode: "user", owner: @user } %>    
      <br>
      <%= render partial: 'informations/had_information', locals: { category: "contact", mode: "user", owner: @user } %>
      <br>
      <%= render partial: 'informations/had_information', locals: { category: "style",   mode: "user", owner: @user } %>
      <br>      

      <div style="margin-left: 5%">         
        <h3>作成したグループ</h3>      
      </div>
        
    <% if @user.groups.any? %>
      <ol class="microposts">
        <%= render @groups %>
      </ol>
      <%= will_paginate @groups %>
    <% else %>
      <ul style="list-style: none;">
        <li><%= ("<br>").html_safe %></li>                     
        <font size="3"><%= "作成したグループはありません" %></font>
       </ul>        
    <% end %>
  </div>
</div>