<ul style="list-style: none;">
  <% case category %>
  <% when "recently" %>
    <% unless users_recently_have_info(current_user).any? %>
      <li><font size="3"><%= "最近遊んだゲームが未登録！" %></font></li>
    <% else %>  
      <li style="text-decoration:underline"><font size="5"><%= "最近遊んでいるゲーム" %></font></li>
    <% end %>
    
  <% when "played" %>
    <% unless user.informations.where("category = ?", category).any? %>
      <li><font size="3"><%= "これまで遊んだゲームが未登録！" %></font></li>         
    <% else %>      
      <li style="text-decoration:underline"><font size="5"><%= "これまでプレイしたゲーム" %></font></li>
    <% end %>
    
  <% when "console" %>
    <% unless user.informations.where("category = ?", category).any? %>
      <li><font size="3"><%= "遊んでいるゲーム機未登録！" %></font></li>
      <li><%= ("<br>").html_safe %></li>   
    <% else %>  
      <li style="text-decoration:underline"><font size="5"><%= "遊んでいるゲーム機" %></font></li>
      
    <% end %> 
    
  <% when "contact" %>
    <% unless user.informations.where("category = ?", category).any? %>
      <li><font size="3"><%= "通信ツール未登録！" %></font></li>
    <% else %>  
      <li style="text-decoration:underline"><font size="5"><%= "使用する通信ツール" %></font></li>
    <% end %>
    
  <% when "style" %>
    <% unless user.informations.where("category = ?", category).any? %>
      <li><font size="3"><%= "プレイスタイル未登録！" %></font></li>
    <% else %>  
      <li style="text-decoration:underline"><font size="5"><%= "プレイスタイル" %></font></li>
    <% end %>

  <% end %>
  <li><%= ("<br>").html_safe %></li>         
  
  <% if category == "recently" %>
      <% users_recently_have_info(current_user).each.with_index(1) do |have_info, i| %>
      <% if i % 3 == 1 %>
        <% if !(i == 1) %>
          <li><%= ("<br>").html_safe %></li>
        <% end %>  
        <%= ("<li>").html_safe %>
      <% end %>
      <%= "・#{Information.find(have_info.information_id).content}" %>
      <%= ("&nbsp;&nbsp;&nbsp;").html_safe %>
      <% if i % 3 == 0 %>
        <%= ("</li>").html_safe %>
  
      <% end %>
    <% end %> 
  <%else %>
    <% user.informations.where("category = ?", category).each.with_index(1) do |info, i| %>
      <% if i % 3 == 1 %>
        <% if !(i == 1) %>
          <li><%= ("<br>").html_safe %></li>
        <% end %>  
        <%= ("<li>").html_safe %>
      <% end %>
      <%= "・#{info.content}" %>
      <%= ("&nbsp;&nbsp;&nbsp;").html_safe %>
      <% if i % 3 == 0 %>
        <%= ("</li>").html_safe %>
  
      <% end %>
    <% end %> 
  <% end %>
  <li><%= ("<br>").html_safe %></li>        

</ul>