<%= form_with(model: current_user.have_informations.find_by(information_id: information.id),
            html: { method: :delete }, local: false) do |f| %>
  <div><%= hidden_field_tag :information_id, information.id %></div>
  <%= f.submit "タグを削除する", class: "btn btn-default" %>
<% end %>

<% if params[:cate] == "played" %>
  <% case current_users_have_information(information).recently %>
  <% when false %>
    <% unless recently_MAX? %>
      <%= link_to "最近遊んでいるゲームに登録", edit_have_information_path(id: information.id, key: "register") %>
    <% end %>  
  <% when true %>  
    <%= link_to "最近遊んでいるゲームから削除", edit_have_information_path(id: information.id, key: "remove") %> 
  <% end %>
<% end %>

<!--%= form_with(model: current_user.have_informations.find_by(information_id: @infomation.id),-->
<!--             html: { method: :delete }, local: false) do |f| %>-->
<!--   %= f.submit "削除する", class: "btn btn-default" %>-->
<!--% end %>-->